BLS_LOGIN_URL=https://www.blsspainmorocco.net/MAR/account/login
DEFAULT_CITY=casablanca
HEADLESS=false
EMAIL_HELPER_URL=https://mail.google.com/mail/u/0/#search/from%3AInfo%40blsinternational.com+newer_than%3A1d
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
SESSION_CHECK_TIMEOUT_MS=15000
